{% extends "main.html" %}
 
{% block page_name %}
    Wiki Pages
{% endblock %}
 
{% block content %}
    <h1 class="title">Pages Contained in this Wiki</h1>
 
    <div class="pages-list">
        {% for page in all_pages %}
            <a class="box page-link" href="{{ url_for('pages', name=page) }}">
                <span class="page-icon">📄</span>
                <span class="page-name">{{ page }}</span>
                <span class="page-arrow">&rarr;</span>
            </a>
        {% endfor %}
    </div>
 
{% endblock %}
